.flex {
  display: flex;  
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-c-s-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f-c-s {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.f-c-s-e {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}