@import './flex-box.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
  height: 100vh;
}

#root .ant-layout {
  height: 100%;
  background: var(--sk-white);
}
#root .ant-layout .app-side {
  
  position: relative;
  padding: 10px 0 0 0;
}
#root .ant-layout .app-side .ant-layout-sider-children {
  overflow: hidden;
}

#root .ant-layout .ant-layout-sider-light {
  background: #fafafa;
}
.sidebar-user-info {
  padding-right: 12px;
  padding-left: 12px;
}