:root{
  --sk-white: #FFFFFF;
  --sk-black: #000000;
  --sk-background-base: #FFFFFF;
  --sk-yuque-grey-100: #FAFAFA;
  --sk-yuque-grey-200: #F4F5F5;
  --sk-yuque-grey-300: #EFF0F0;
  --sk-yuque-grey-400: #E7E9E8;
  --sk-yuque-grey-500: #D8DAD9;
  --sk-yuque-grey-600: #BEC0BF;
  --sk-yuque-grey-700: #8A8F8D;
  --sk-yuque-grey-800: #585A5A;
  --sk-yuque-grey-900: #262626;
  --sk-yuque-grey-1: #FAFAFA;
  --sk-yuque-grey-2: #F4F5F5;
  --sk-yuque-grey-3: #EFF0F0;
  --sk-yuque-grey-4: #E7E9E8;
  --sk-yuque-grey-5: #D8DAD9;
  --sk-yuque-grey-6: #BEC0BF;
  --sk-yuque-grey-7: #8A8F8D;
  --sk-yuque-grey-8: #585A5A;
  --sk-yuque-grey-9: #262626;
  --sk-pea-green-50: #F3FBE7;
  --sk-pea-green-100: #E8F7CF;
  --sk-pea-green-200: #DBF1B7;
  --sk-pea-green-300: #C1E77E;
  --sk-pea-green-400: #A7DD4B;
  --sk-pea-green-500: #8CCF17;
  --sk-pea-green-600: #74B602;
  --sk-pea-green-700: #5C8D07;
  --sk-pea-green-800: #406105;
  --sk-pea-green-900: #2A4200;
  --sk-pea-green-1: #E8F7CF;
  --sk-pea-green-2: #DBF1B7;
  --sk-pea-green-3: #C1E77E;
  --sk-pea-green-4: #A7DD4B;
  --sk-pea-green-5: #8CCF17;
  --sk-pea-green-6: #74B602;
  --sk-pea-green-7: #5C8D07;
  --sk-pea-green-8: #406105;
  --sk-pea-green-9: #2A4200;
  --sk-yuque-green-50: #ECFAF4;
  --sk-yuque-green-100: #DAF6EA;
  --sk-yuque-green-200: #C7F0DF;
  --sk-yuque-green-300: #82EDC0;
  --sk-yuque-green-400: #45DE9D;
  --sk-yuque-green-500: #0BD07D;
  --sk-yuque-green-600: #00B96B;
  --sk-yuque-green-700: #009456;
  --sk-yuque-green-800: #00663B;
  --sk-yuque-green-900: #003D23;
  --sk-yuque-green-1: #DAF6EA;
  --sk-yuque-green-2: #C7F0DF;
  --sk-yuque-green-3: #82EDC0;
  --sk-yuque-green-4: #45DE9D;
  --sk-yuque-green-5: #0BD07D;
  --sk-yuque-green-6: #00B96B;
  --sk-yuque-green-7: #009456;
  --sk-yuque-green-8: #00663B;
  --sk-yuque-green-9: #003D23;
  --sk-cyan-50: #E6F9FB;
  --sk-cyan-100: #CEF5F7;
  --sk-cyan-200: #B5EFF2;
  --sk-cyan-300: #81DFE4;
  --sk-cyan-400: #5ED3D9;
  --sk-cyan-500: #1DC0C9;
  --sk-cyan-600: #01B2BC;
  --sk-cyan-700: #078B92;
  --sk-cyan-800: #07787E;
  --sk-cyan-900: #004347;
  --sk-cyan-1: #CEF5F7;
  --sk-cyan-2: #B5EFF2;
  --sk-cyan-3: #81DFE4;
  --sk-cyan-4: #5ED3D9;
  --sk-cyan-5: #1DC0C9;
  --sk-cyan-6: #01B2BC;
  --sk-cyan-7: #078B92;
  --sk-cyan-8: #07787E;
  --sk-cyan-9: #004347;
  --sk-blue-50: #ECF4FD;
  --sk-blue-100: #D9EAFC;
  --sk-blue-200: #C0DDFC;
  --sk-blue-300: #81BBF8;
  --sk-blue-400: #5FA8F6;
  --sk-blue-500: #2F8EF4;
  --sk-blue-600: #117CEE;
  --sk-blue-700: #0C68CA;
  --sk-blue-800: #074A92;
  --sk-blue-900: #00346B;
  --sk-blue-1: #D9EAFC;
  --sk-blue-2: #C0DDFC;
  --sk-blue-3: #81BBF8;
  --sk-blue-4: #5FA8F6;
  --sk-blue-5: #2F8EF4;
  --sk-blue-6: #117CEE;
  --sk-blue-7: #0C68CA;
  --sk-blue-8: #074A92;
  --sk-blue-9: #00346B;
  --sk-sea-blue-50: #ECEEFD;
  --sk-sea-blue-100: #D9DFFC;
  --sk-sea-blue-200: #C0CAFC;
  --sk-sea-blue-300: #96A7FD;
  --sk-sea-blue-400: #6E85F7;
  --sk-sea-blue-500: #4861E0;
  --sk-sea-blue-600: #2F4BDA;
  --sk-sea-blue-700: #213BC0;
  --sk-sea-blue-800: #162883;
  --sk-sea-blue-900: #101E60;
  --sk-sea-blue-1: #D9DFFC;
  --sk-sea-blue-2: #C0CAFC;
  --sk-sea-blue-3: #96A7FD;
  --sk-sea-blue-4: #6E85F7;
  --sk-sea-blue-5: #4861E0;
  --sk-sea-blue-6: #2F4BDA;
  --sk-sea-blue-7: #213BC0;
  --sk-sea-blue-8: #162883;
  --sk-sea-blue-9: #101E60;
  --sk-purple-50: #F2EDFC;
  --sk-purple-100: #E6DCF9;
  --sk-purple-200: #D9C9F8;
  --sk-purple-300: #BA9BF2;
  --sk-purple-400: #9A6EED;
  --sk-purple-500: #7E45E8;
  --sk-purple-600: #601BDE;
  --sk-purple-700: #4C16B1;
  --sk-purple-800: #391084;
  --sk-purple-900: #270070;
  --sk-purple-1: #E6DCF9;
  --sk-purple-2: #D9C9F8;
  --sk-purple-3: #BA9BF2;
  --sk-purple-4: #9A6EED;
  --sk-purple-5: #7E45E8;
  --sk-purple-6: #601BDE;
  --sk-purple-7: #4C16B1;
  --sk-purple-8: #391084;
  --sk-purple-9: #270070;
  --sk-magenta-50: #FDEFF7;
  --sk-magenta-100: #FBDFEF;
  --sk-magenta-200: #F7C4E2;
  --sk-magenta-300: #F297CC;
  --sk-magenta-400: #EC6AB6;
  --sk-magenta-500: #E746A4;
  --sk-magenta-600: #D22D8D;
  --sk-magenta-700: #AE146E;
  --sk-magenta-800: #800F51;
  --sk-magenta-900: #5C0036;
  --sk-magenta-1: #FBDFEF;
  --sk-magenta-2: #F7C4E2;
  --sk-magenta-3: #F297CC;
  --sk-magenta-4: #EC6AB6;
  --sk-magenta-5: #E746A4;
  --sk-magenta-6: #D22D8D;
  --sk-magenta-7: #AE146E;
  --sk-magenta-8: #800F51;
  --sk-magenta-9: #5C0036;
  --sk-red-50: #FDF1F3;
  --sk-red-100: #FBE4E7;
  --sk-red-200: #F8CED3;
  --sk-red-300: #F1A2AB;
  --sk-red-400: #EA7583;
  --sk-red-500: #E4495B;
  --sk-red-600: #DF2A3F;
  --sk-red-700: #AD1A2B;
  --sk-red-800: #8F0515;
  --sk-red-900: #70000D;
  --sk-red-1: #FBE4E7;
  --sk-red-2: #F8CED3;
  --sk-red-3: #F1A2AB;
  --sk-red-4: #EA7583;
  --sk-red-5: #E4495B;
  --sk-red-6: #DF2A3F;
  --sk-red-7: #AD1A2B;
  --sk-red-8: #8F0515;
  --sk-red-9: #70000D;
  --sk-vermilion-50: #FDF3F1;
  --sk-vermilion-100: #FBE8E4;
  --sk-vermilion-200: #F8D6CE;
  --sk-vermilion-300: #F0AD9D;
  --sk-vermilion-400: #EB866F;
  --sk-vermilion-500: #E46549;
  --sk-vermilion-600: #DF4B2A;
  --sk-vermilion-700: #AD351A;
  --sk-vermilion-800: #8F1E05;
  --sk-vermilion-900: #701500;
  --sk-vermilion-1: #FBE8E4;
  --sk-vermilion-2: #F8D6CE;
  --sk-vermilion-3: #F0AD9D;
  --sk-vermilion-4: #EB866F;
  --sk-vermilion-5: #E46549;
  --sk-vermilion-6: #DF4B2A;
  --sk-vermilion-7: #AD351A;
  --sk-vermilion-8: #8F1E05;
  --sk-vermilion-9: #701500;
  --sk-orange-50: #FEF2E9;
  --sk-orange-100: #FDE6D3;
  --sk-orange-200: #F8D6B9;
  --sk-orange-300: #F8B881;
  --sk-orange-400: #F6A055;
  --sk-orange-500: #F38F39;
  --sk-orange-600: #ED740C;
  --sk-orange-700: #C75C00;
  --sk-orange-800: #944400;
  --sk-orange-900: #663000;
  --sk-orange-1: #FDE6D3;
  --sk-orange-2: #F8D6B9;
  --sk-orange-3: #F8B881;
  --sk-orange-4: #F6A055;
  --sk-orange-5: #F38F39;
  --sk-orange-6: #ED740C;
  --sk-orange-7: #C75C00;
  --sk-orange-8: #944400;
  --sk-orange-9: #663000;
  --sk-yellow-50: #FCF5E6;
  --sk-yellow-100: #F9EFCD;
  --sk-yellow-200: #F6E1AC;
  --sk-yellow-300: #F5D480;
  --sk-yellow-400: #F5CB61;
  --sk-yellow-500: #F3BB2F;
  --sk-yellow-600: #ECAA04;
  --sk-yellow-700: #C99103;
  --sk-yellow-800: #8F6600;
  --sk-yellow-900: #664900;
  --sk-yellow-1: #F9EFCD;
  --sk-yellow-2: #F6E1AC;
  --sk-yellow-3: #F5D480;
  --sk-yellow-4: #F5CB61;
  --sk-yellow-5: #F3BB2F;
  --sk-yellow-6: #ECAA04;
  --sk-yellow-7: #C99103;
  --sk-yellow-8: #8F6600;
  --sk-yellow-9: #664900;
  --sk-bright-yellow-50: #FDF9E4;
  --sk-bright-yellow-100: #FBF5CB;
  --sk-bright-yellow-200: #FCF1A6;
  --sk-bright-yellow-300: #FDEB78;
  --sk-bright-yellow-400: #FCE75A;
  --sk-bright-yellow-500: #FBDE28;
  --sk-bright-yellow-600: #EDCE02;
  --sk-bright-yellow-700: #CDB204;
  --sk-bright-yellow-800: #A58F04;
  --sk-bright-yellow-900: #665800;
  --sk-bright-yellow-1: #FBF5CB;
  --sk-bright-yellow-2: #FCF1A6;
  --sk-bright-yellow-3: #FDEB78;
  --sk-bright-yellow-4: #FCE75A;
  --sk-bright-yellow-5: #FBDE28;
  --sk-bright-yellow-6: #EDCE02;
  --sk-bright-yellow-7: #CDB204;
  --sk-bright-yellow-8: #A58F04;
  --sk-bright-yellow-9: #665800;
  --sk-brown-50: #F7F2EA;
  --sk-brown-100: #F0E7D6;
  --sk-brown-200: #E7D7BB;
  --sk-brown-300: #DBC39A;
  --sk-brown-400: #D2B684;
  --sk-brown-500: #C59F5E;
  --sk-brown-600: #B1873F;
  --sk-brown-700: #927035;
  --sk-brown-800: #74592A;
  --sk-brown-900: #523F1E;
  --sk-brown-1: #F0E7D6;
  --sk-brown-2: #E7D7BB;
  --sk-brown-3: #DBC39A;
  --sk-brown-4: #D2B684;
  --sk-brown-5: #C59F5E;
  --sk-brown-6: #B1873F;
  --sk-brown-7: #927035;
  --sk-brown-8: #74592A;
  --sk-brown-9: #523F1E;
}
